a{
    text-decoration: none;
}
h1{
    font-family: $typo-titulo;
    font-weight: 700;
    letter-spacing: 6px;
}
h2, h3, h4, p{
    font-family: $typo-titulo;
}

.mobile-menu, .desktop-menu{
    display: none;
}

.hero{
    
}