a{
    text-decoration: none;
}
h1{
    font-family: $typo-titulo;
    font-weight: 700;
    letter-spacing: 6px;
}
h2, h3, h4, p, .mobile-menu__nav{
    font-family: $typo-titulo;
}

.mobile-menu, .desktop-menu{
    display: none;
}
.top__argentina{
    @extend %sections;
    height: 85vh;
    .container-top {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 3px 3px;
        grid-auto-flow: row;
        grid-template-areas:
        "AfricaA Asia"
        "top-a   top-a";
    }
    .top-a {
        grid-area: top-a; 
        @extend %grid-box;
        background-image: url(https://media.staticontent.com/media/pictures/50ecf17c-4933-4c97-a65b-f561915c3ceb/614x279);
        background-position: center;
        background-size: cover;
        color: white;
    };
    .buenos-aires { 
        color: white;
        grid-area: AfricaA; 
        @extend %grid-box;
        height: 40vh;
        background-image: url(https://media.staticontent.com/media/pictures/4ba0fb46-f4e3-470f-b48d-497425a32d03/360x360);
        background-position: center;
        background-size: cover;
    }
    .ofertas { 
        grid-area: Asia;
        @extend %grid-box;
        height: 40vh;
        background-image: url(https://i.pinimg.com/564x/20/01/67/200167d66e04966e450ccd089165e404.jpg);  
        background-size: cover;
        background-position: center;
    }
}
.smiles{
    @extend %slider;
    height: 98vh;
}
.publicidad{
        height: 70vh;
        .container-publicidad {  
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 8px 3px;
            grid-auto-flow: row;
            grid-template-areas:
            "app"
            "europa"
            "tira"
            "tira";
        }
        .europa { 
            grid-area: europa; 
            @extend %grid-box;
            background-image: url(https://lh3.googleusercontent.com/3f4rZFYy_PzYEKUBA9McDMTVJzGXNUwpAoGnaCdgAnQmgyd2SvD8T1SkDuN202O_UMMsbYO9EGaRpHECLeb0SNofLtHCdysmWrrr0N2nnA);
            background-size: cover;
            background-position: center;
        }
        .app { 
            grid-area: app; 
            @extend %grid-box;
            background-image: url(https://lh3.googleusercontent.com/EJBd6zjVhZ1cKJZm-VTNIm2YAJ6aTEQ-HoV10sVhw9bvKQg0QTqOAiPoKdtR2zFWvKioouHNtqJLYxT9qIT-8GP5Ajz7QgXUY7mqAQHaQA);
            background-size: cover;
            background-position: center;
        }
        .tira { 
            grid-area: tira;
            @extend %grid-box; 
            background-image: url(https://media.staticontent.com/media/pictures/776083f6-a559-48af-bbf6-c3b300de9ea1);
            background-size: cover;
            background-position: center;
            
        }
}

